    <div class="dx-field">

      <dx-text-box [disabled]="disabled" #entitySearchTextBox></dx-text-box>
      <dx-button [disabled]="disabled" class="float-left" icon="add" (onClick)="createEntity(entityType)"> </dx-button>
      <dx-button [disabled]="disabled" class="float-left" icon="search"(onClick)="searchEntity(entityType)"> </dx-button>
      <dx-button [disabled]="disabled" class="float-left" icon="trash" (onClick)="removeEntity()">  </dx-button>

    </div>

    <dx-popup
      [(visible)]="crudPopupVisible"
      [title]="'Edit ' + entityType">

      <div *dxTemplate="let data of 'content'">

        <app-crud
          [entityType]="entityType"
          [entitiesList]="entitiesList"
          [multipleSelection]="false"
          (onToolbarItemClicked) = "handleToolbarItemClickedEvent($event)"
          [toolbarItems]="toolbarItems"
          [showToolbarAcceptButton]="true"
          [showToolbarCancelButton]="true"
          toolbarClass="navbar navbar-expand-lg navbar-light bg-light">
        </app-crud>

      </div>

    </dx-popup>

    <dx-popup
      [(visible)]="addEditPopupVisible"
      [title]="'New ' + entityType">

      <div *dxTemplate="let data of 'content'">

        <app-add-edit
          *ngIf="selectedEntities != undefined && selectedEntities != [] && selectedEntities.length == 1"
          [entity]="addEditEntity"
          [editable]="true">
        </app-add-edit>

      </div>

    </dx-popup>
