<dx-toolbar
  [class]="class"
  (onItemClick)="handleItemClickedEvent($event)">

  <ng-template [ngIf]="showDefaultButtons">

    <dxi-item widget="dxButton"
              [options]="{icon: 'check'}"
              [visible]="showAcceptButton"
              type="accept"
              location="before">
    </dxi-item>

    <dxi-item widget="dxButton"
              [options]="{icon: 'close'}"
              [visible]="showCancelButton"
              type="cancel"
              location="before">
    </dxi-item>

    <dxi-item text=" | "
              [visible]="showAcceptButton || showCancelButton"
              location="before">
    </dxi-item>

    <dxi-item widget="dxButton"
              [options]="{icon: 'plus'}"
              [visible]="showAddButton"
              type="add"
              location="before">
    </dxi-item>

    <dxi-item widget="dxButton"
              [options]="{icon: 'edit'}"
              [visible]="showEditButton"
              location="before"
              locateInMenu="auto"
              type="edit"
              [disabled]="setDisable([{type: 'rowSelection', values:['multiple']}])">
    </dxi-item>

    <dxi-item widget="dxButton"
              [options]="{icon: 'trash'}"
              [visible]="showRemoveButton"
              type="remove"
              location="before"
              locateInMenu="auto">
    </dxi-item>

  </ng-template>

  <dxi-item *ngFor="let item of items"
            [widget]="item.widget"
            [options]="item.options"
            [location]="item.location"
            [locateInMenu]="item.locateInMenu"
            [text]="item.text"
            [onClick]="item.onClick"
            [disabled]="setDisable(item.disableConditions)">
  </dxi-item>

</dx-toolbar>
