<app-toolbar
  [class]="toolbarClass"
  [items]="toolbarItems"
  [crudToolbar]="true"
  [selectedEntities]="selectedEntities"
  (onToolbarItemClickedEvent)="handleToolbarItemClicked($event)">
</app-toolbar>

<br>

<app-selectable-grid
  [keyField]="keyField"
  [entitiesList]="entitiesList"
  (onEntitiesSelectedEvent)="handleEntitiesSelectedEvent($event)">
</app-selectable-grid>

<br>

<app-add-edit
  *ngIf="addEditEntity !== undefined"
  [entity]="addEditEntity"
  [editable]="false">
</app-add-edit>

<dx-popup
  [(visible)]="popupVisible"
  [title]="'Edit ' + entityType"
  [toolbarItems]="[
    {toolbar: 'bottom', widget: 'dxButton', location: 'after', options: {text:'Cancel', type: 'danger'}},
    {toolbar: 'bottom', widget: 'dxButton', location: 'after', options: {text: 'Accept', type: 'success'}}
    ]">

  <div *dxTemplate="let data of 'content'">

    <app-add-edit
      *ngIf="selectedEntities != undefined && selectedEntities != [] && selectedEntities.length == 1"
      [entity]="addEditEntity"
      [editable]="true">
    </app-add-edit>

  </div>

</dx-popup>
