<app-toolbar
  [cssClass]="toolbarCssClass"
  [items]="toolbarItems"
  [inCrud]="true"
  [showDefaultButtons]="showToolbarDefaultButtons"
  [showAcceptButton]="showToolbarAcceptButton"
  [showCancelButton]="showToolbarCancelButton"
  [showAddButton]="showToolbarAddButton"
  [showEditButton]="showToolbarEditButton"
  [showRemoveButton]="showToolbarRemoveButton"
  [showHideDetailButton]="showToolbarHideDetailButton"
  [selectedEntities]="selectedEntities"
  (onToolbarItemClickedEvent)="handleToolbarItemClickedEvent($event)">
</app-toolbar>

<br>

<app-selectable-grid
  [keyField]="keyField"
  [entitiesList]="entitiesList"
  [editable]="editableGrid"
  [multipleSelection]="multipleSelection">
</app-selectable-grid>

<br>

<app-add-edit
  *ngIf="addEditEntity !== undefined && showAddEdit"
  [entity]="addEditEntity"
  [editable]="false">
</app-add-edit>

<dx-popup
  [(visible)]="popupVisible"
  [title]="'Edit ' + entityType"
  [toolbarItems]="[
    {toolbar: 'bottom', widget: 'dxButton', location: 'after', options: {text:'Cancel', type: 'danger'}},
    {toolbar: 'bottom', widget: 'dxButton', location: 'after', options: {text: 'Accept', type: 'success'}}
    ]">

  <div *dxTemplate="let data of 'content'">

    <app-add-edit
      *ngIf="selectedEntities != undefined && selectedEntities != [] && selectedEntities.length == 1"
      [entity]="addEditEntity"
      [editable]="true">
    </app-add-edit>

  </div>

</dx-popup>
