<dx-data-grid
  id="gridContainer"
  [keyExpr]="keyField"
  [dataSource]="listableArray"
  [showBorders]="true"
  [columnAutoWidth]="true"
  [wordWrapEnabled]="true"
  [allowColumnReordering]="true"
  [allowColumnResizing]="true"
  (onSelectionChanged)="handleSelectionChangedEvent($event)"
  (onContentReady)="handleContentReadyEvent($event)">

  <dxo-search-panel
    [visible]="true"
    width="250">
  </dxo-search-panel>

  <dxo-scrolling
    mode="infinite"
    showScrollbar="always">
  </dxo-scrolling>

  <dxo-selection
    mode="multiple"
    selectAllMode="page"
    showCheckBoxesMode="none">
  </dxo-selection>

  <dxo-column-chooser
    [enabled]="true"
    [allowSearch]="true">
  </dxo-column-chooser>

  <dxi-column
    *ngFor="let column of columns"
    [dataField]="column.name"
    [dataType]="column.type"
    [width]="getColumnWidth(column.type)"
    [visible]="column.visible">
  </dxi-column>

</dx-data-grid>
