<div
  *ngFor="let field of fields.keys()">

  <div *dxTemplate="let data of field + 'Template'">

    <div [ngSwitch]="widget">

      <dx-text-area
        *ngSwitchCase="'textarea'"
        [(value)]="entity[field]"
        [disabled]="disabled">
      </dx-text-area>

      <app-entity-search
        *ngSwitchCase="'entity-search'"
        [entityType]="fields.getValue(field).entityType"
        [(selectedEntity)]="entity[field]"
        [properties]="fields.getValue(field).properties"
        [disabled]="disabled">
      </app-entity-search>

      <app-crud
        *ngSwitchCase="'detail'"
        toolbarCssClass="navbar navbar-expand-lg navbar-light bg-light"
        [entityType]="fields.getValue(field).entityType"
        [(entitiesList)]="entity[field]"
        [localData]="true">
      </app-crud>

    </div>

  </div>

</div>
