<div
  *ngFor="let field of fields.keys()">

  <div *dxTemplate="let data of field + 'Template'">

    <div [ngSwitch]="widget">

      <dx-text-area
        *ngSwitchCase="'textarea'"
        [(value)]="entity[field]"
        [disabled]="disabled">
      </dx-text-area>

      <app-entity-search
        *ngSwitchCase="'entitySearch'"
        [entityType]="fields.getValue(field).entityType"
        [(selectedEntity)]="entity[field]"
        [properties]="fields.getValue(field).properties"
        [disabled]="disabled">
      </app-entity-search>

    </div>

  </div>

</div>
